body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkVRRX-6mQO1nM_PMW_-NAgsveI2mWW50whg&usqp=CAU');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    flex-wrap: wrap;
    justify-content: center;
}

.icon {
    border-radius: 50%;
}

div {
    text-align: center;
    color: rgb(8, 101, 172);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.me {
    border-radius: 50%;
    width: 160px;
    height: 180px;
}

button {
    border: 2px solid rgb(179, 170, 170);
    width: 500px;
    height: 50px;
    margin: 15px;
    border-radius: 30px;
    background-color: rgb(244, 232, 232);
    position: relative;
    right: -5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.26);
    transition: 300ms;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(94, 134, 191);
}

a {
    text-decoration: none;
}

.li {
    display: flex;
    justify-content: center;
    position: relative;
    top: -45px;
}

a :hover {
    transform: scale(1.05);
    cursor: pointer;
}

.name {
    color: blue;
}

a {
    display: flex;
    justify-content: center;
}

.hc {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    position: relative;
    right: 220px;
    top: 4px;
}